.DS_Store
accessibility_mapping/input_folder/*
accessibility_mapping/output_folder/*
accessibility_mapping/admin/*
global_data_sets/02_urban_change/*
global_data_sets/03_Africa_20m_landcover/*
global_data_sets/03_landcover/*
global_data_sets/07_air_quality/*
global_data_sets/11_landslides/*
raster_processing/01_population/*
raster_processing/02_urban_change/*
raster_processing/03_landcover/*
raster_processing/04_elevation/*
raster_processing/06_solar/*
raster_processing/07_air_quality/*
raster_processing/08_uhi/*
raster_processing/09_flooding/*
raster_processing/11_landslides/*
raster_processing/12_earthquakes/*
raster_processing/admin/*
raster_processing/output/*
relative_wealth_index/admin/*
relative_wealth_index/output/*
relative_wealth_index/data/*
road_network_analysis/admin/*
road_network_analysis/data/*
!*.gitkeep
!*.md